<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <title>Zola test</title>
    <meta charset="utf-8" />
</head>

<body>
    {%- block title %}
    <h1>Index</h1>
    {%- endblock %}

    {%- block content %}
    <p>
        List of sections
    </p>
    <ol>
    {%- for section in section.subsections %}
    {% set section = get_section(path=section) %}
    <li><a href="{{ section.permalink }}">
        {{ section.title }}
    </a>
    </li>
    {%- endfor %}
    </ol>

    <p>
        List of posts
    </p>
    <ol>
    {%- for page in section.pages %}
    <li>
    <a href="{{ page.permalink }}">
        {{ page.title }}
    </a></li>
    {%- endfor %}
    </ol>
    {%- endblock %}
</body>

</html>
